<div class="contents">
    <div class="title">Add New Variation</div>
    <div>
        <div>
            <input type="text" pInputText [(ngModel)]="variationName" autocomplete="off" placeholder="Name" />
        </div>
        <BR>
        <div>
            <input type="text" pInputText [(ngModel)]="variationDesc" autocomplete="off" placeholder="Description" />
        </div>
        <BR>
        <button pButton pRipple type="button" label="Submit" class="p-button-raised"></button>
    </div>
</div>