<div class="contents">
    <div class="title">Update Component</div>
    <div>
        <div>
            <input type="text" pInputText [(ngModel)]="componentName" autocomplete="off" placeholder="Name" />
        </div>
        <BR>
        <div>
            <input type="text" pInputText [(ngModel)]="componentDesc" autocomplete="off" placeholder="Description" />
        </div>
        <BR>
        <div>
            <div style="margin-bottom: 0.5em;">
                <span class="sub-title">Select Variations</span>
                <clr-icon shape="plus" title="Add Variation" class="add-new" (click)="navigateNewComponent()"></clr-icon>
            </div>
            <p-pickList [source]="sourceVariations" [target]="targetVariations" [responsive]="true" sourceHeader="Source Variations" [showSourceControls]="false" [showTargetControls]="false" targetHeader="Target Variations" dragdrop="true">
                <ng-template let-variation pTemplate="item">
                    <div class="ui-helper-clearfix">
                        {{variation.name}}
                    </div>
                </ng-template>
            </p-pickList>
        </div>
        <BR>
        <button pButton pRipple type="button" label="Submit" class="p-button-raised"></button>
    </div>
</div>
<p-blockUI [blocked]=blockedFlag>
    <table width="100%" style="height:100%">
        <tr>
            <td align="center">
                <p-progressSpinner></p-progressSpinner>
            </td>
        </tr>
    </table>
</p-blockUI>