.contents {
    padding: 2vh 2vw!important;
    justify-content: space-evenly;
}

.sub-title {
    font-size: 14px;
    color: #bbbbbb;
    margin: 0;
    font-weight: bold;
    margin-bottom: 2vh;
}

.add-new {
    float: right;
    margin-top: 4px;
    cursor: pointer;
}

.save-btn {
    cursor: pointer;
    color: #005b9f;
}

.del-btn {
    cursor: pointer;
    color: red;
}

:host>>>.ui-dialog .ui-dialog-content {
    background-color: #fafafa;
    padding: 0.8em 1em;
}