.clr-form-control {
    flex-wrap: nowrap!important;
}

.clr-error .clr-validate-icon {
    margin-top: 0.5%;
}

.clr-control-label {
    color: var(--fg1)!important;
    padding-right: 4px!important;
}

clr-select-container {
    label {
        margin-left: 2px!important;
    }
}

.clr-multiselect-wrapper select:active,
.clr-multiselect-wrapper select:hover,
.clr-select-wrapper select:active,
.clr-select-wrapper select:hover {
    border-color: var(--bg1) !important;
    background: var(--bg1) !important;
    color: var(--fg1) !important;
}

.clr-textarea,
input,
.autocomplete-container .input-container input,
.clr-select-wrapper select,
.clr-input-group,
.clr-input {
    width: 100%;
    padding-right: 2px;
    min-height: 1.3rem !important;
    border-radius: 4px;
    border-color: var(--bg1) !important;
    background: var(--bg1) !important;
    color: var(--fg1) !important;
    border-bottom: 1px solid;
    border-bottom-color: var(--bg1)!important;
    &:focus {
        border-bottom-color: var(--bg2)!important;
    }
}

.clr-vertical-nav {
    background: var(--bg1)!important;
    .nav-group-content {
        color: var(--fg1)!important;
        &:hover {
            color: var(--fg1)!important;
            background-color: var(--bg1-sel)!important;
            text-decoration: none!important;
        }
    }
    .nav-group-trigger-icon {
        color: var(--fg1)!important;
    }
    .nav-link {
        color: var(--fg1)!important;
        &.active {
            color: var(--fg1)!important;
            background-color: var(--bg1-sel)!important;
            .nav-icon {
                fill: var(--main-theme-color)!important;
            }
        }
        &:hover {
            color: var(--fg1)!important;
            background-color: var(--bg1-sel)!important;
        }
    }
}

.nav {
    box-shadow: 0 -1px 0 var(--border-color) inset;
    .nav-link {
        color: var(--fg1)!important;
        &.active {
            color: var(--fg1)!important;
        }
        &.active,
        &:hover {
            color: var(--fg1)!important;
            box-shadow: 0 -3px 0 var(--border-color-sel) inset !important;
        }
    }
}

.dropdown-menu {
    background-color: var(--bg3)!important;
    color: var(--fg1)!important;
    border-color: var(--bg2)!important;
    .dropdown-divider {
        border-color: var(--bg2)!important;
    }
    .dropdown-header {
        color: var(--fg1)!important;
    }
    .dropdown-item {
        color: var(--fg1)!important;
        &:hover {
            background-color: var(--bg2)!important;
            color: var(--fg1)!important;
        }
        .clr-control-label,
        clr-icon {
            color: var(--fg1)!important;
        }
    }
}

.clr-checkbox-wrapper input[type="checkbox"]:checked+label::before {
    background: var(--main-theme-color)!important;
}

.close:focus,
.clr-checkbox-wrapper input[type="checkbox"]:focus+label::before {
    box-shadow: 0 0 2px 0 var(--main-theme-color)!important;
}

.clr-toggle-wrapper input[type="checkbox"]:checked+label::before {
    background: var(--main-theme-color) !important;
    border-color: var(--bg1-sel) !important;
}