.contents {
    padding: 2vh 2vw!important;
    justify-content: space-evenly;
}

.sub-title {
    font-size: 14px;
    color: #bbbbbb;
    margin: 0;
    font-weight: bold;
    margin-bottom: 2vh;
}

.add-new {
    float: right;
    margin-top: 4px;
    cursor: pointer;
}

.sub-title-1 {
    font-size: 14px;
    color: #bbbbbb;
    margin: 0;
    font-weight: bold;
}

.displayFlex {
    display: inline-flex;
    margin: 0.5em 0 1em 0 !important;
}